<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav flex-column">
        <li class="nav-item mb-3">
          <a class="nav-link btn btn-primary" href="#registrarvacina" [routerLink]="['/registrarvacina']"><i class="fas fa-syringe"></i> Registrar Vacina</a>      
        </li>
        <li class="nav-item mb-3">
          <a class="nav-link btn btn-primary" href="#pacientes" [routerLink]="['/paciente']"> Pacientes</a>
        </li>
        <li class="nav-item mb-3">          
          <a class="nav-link btn btn-primary" href="#funcionarios" [routerLink]="['/funcionario']"><i class="fas fa-user-nurse"></i> Funcionários</a>
        </li>
        <li class="nav-item mb-3">
          <a class="nav-link btn btn-primary" href="#vacinas" [routerLink]="['/vacinas']"><i class="fas fa-syringe"></i> Vacinas</a>      
        </li>
      </ul>
    </div>
    <div class="col-md-9">
        <div class="tab-content" id="nav-tabContent">
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
</div>
