<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card bg-dark text-white">
        <img class="img-responsive" src="assets/images/enfermagem.jpg" alt="Foto Perfil" />
        <div class="card-body">
          <h5 class="card-title">Joseane Pereira</h5>
          <p class="card-text">Técn. Enfermagem</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="nav-link  align-items-center" href="#registrarvacina" [routerLink]="['/registrarvacina']"><i class="fas fa-plus"></i><i class="fas fa-syringe"></i><b> Vacinar Paciente</b></a>
          </li>
          <li class="list-group-item">
            <a class="nav-link align-self-center" href="#pacientes" [routerLink]="['/paciente']"><i class="fas fa-hospital-user"></i><b> Pacientes</b></a>
          </li>
          <li class="list-group-item">
            <a class="nav-link align-self-center" href="#funcionarios" [routerLink]="['/funcionario']"><i class="fas fa-user-nurse"></i><b> Funcionários</b></a>
          </li>
          <li class="list-group-item">
            <a class="nav-link align-self-center" href="#vacinas" [routerLink]="['/vacinas']"><i class="fas fa-syringe"></i><b> Vacinas</b></a>
          </li>
          <li class="list-group-item">
            <a class="nav-link align-self-center" href="#calender" [routerLink]="['/calendario']"><i class="fas fa-calendar-day"></i><b> Calendário</b></a>
          </li>
          <li class="list-group-item">
            <a class="nav-link disabled align-self-center" aria-disabled="true" href="#agendamentos" [routerLink]="['/agendamentos']"><i class="fas fa-calendar-check"></i><b> Agendamentos</b></a>
          </li>
          <li class="list-group-item">
            <a class="nav-link disabled align-self-center" aria-disabled="true" href="#campaigns" [routerLink]="['/campaigns']"><i class="fas fa-calendar-day"></i><b> Campanhas de Vacinação</b></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8 justify-content-left">
      <div class="tab-content" id="nav-tabContent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
