<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card bg-dark text-white">
        <img class="img-responsive" src="assets/images/enfermagem.jpg" alt="Foto Perfil" />
        <div class="card-body">
          <h5 class="card-title">{{employee.Name}}</h5>
          <p class="card-text">{{employee.OfficeName}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="nav-link  align-items-center" href="#listar-pacientes-vacinadas" [routerLink]="['/listar-pacientes-vacinadas']"><i class="fas fa-syringe"></i> Pacientes Vacinadas</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link align-self-center" href="#pacientes" [routerLink]="['/paciente']"><i class="fas fa-hospital-user"></i> Pacientes</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link align-self-center" href="#funcionarios" [routerLink]="['/funcionario']"><i class="fas fa-user-nurse"></i> Funcionários</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link align-self-center" href="#vacinas" [routerLink]="['/vacinas']"><i class="fas fa-syringe"></i> Vacinas</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link align-self-center" href="#calender" [routerLink]="['/calendario']">Calendário</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link disabled align-self-center" aria-disabled="true" href="#agendamentos" [routerLink]="['/agendamentos']"><i class="fas fa-calendar-check"></i> Agendamentos</a>
          </li>
          <li class="list-group-item">
            <a class="nav-link disabled align-self-center" aria-disabled="true" href="#campaigns" [routerLink]="['/campaigns']"><i class="fas fa-calendar-day"></i> Campanhas de Vacinação</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8 justify-content-left">
      <div class="tab-content" id="nav-tabContent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
