<h1>Cadastro Funcionário</h1>

<form>
  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="inputName">Nome*</label>
      <input type="text"
              name="inputName"
              class="form-control"
              id="inputName"
              placeholder="Digite seu nome"
              [(ngModel)]="employee.Name"
              #name="ngModel"
              [ngClass]="{
                'is-invalid':name.invalid && (name.dirty || name.touched),
                'is-valid': name.valid && (name.dirty || name.touched)
                }"
              required />

              <div class="invalid-feedback mb-1" role="alert" *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors.required">
                  Nome do Paciente é obrigatório
                </div>
              </div>
    </div>
    <div class="form-group col-md-4">
      <label for="inputTelefone">Celular*</label>
      <input type="text"
      name="inputTelefone"
      class="form-control"
      id="inputTelefone"
      placeholder="(99) 9 9999-9999"
      [(ngModel)]="employee.Telefone"
      #telefone="ngModel"
      mask="(00) 0 0000-0000"
      [ngClass]="{
        'is-invalid':telefone.invalid && (telefone.dirty || telefone.touched),
        'is-valid': telefone.valid && (telefone.dirty || telefone.touched)
        }"
      required />

      <div class="invalid-feedback mb-1" role="alert" *ngIf="telefone.invalid && (telefone.dirty || telefone.touched)">
        <div *ngIf="telefone.dirty">
          Inserir apenas números
        </div>
        <div *ngIf="telefone.errors.required">
          Telefone é obrigatório
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail">Email*</label>
      <input type="email"
      name="inputEmail"
      class="form-control"
      placeholder="seuemail@email.com"
      id="inputEmail"
      [(ngModel)]="employee.Email"
      #email="ngModel"
      [ngClass]="{
        'is-invalid':email.invalid && (email.dirty || email.touched),
        'is-valid': email.valid && (email.dirty || email.touched)
        }" 
      required />

      <div class="invalid-feedback mb-1" role="alert" *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors.required">
          Email é obrigatório
        </div>
      </div>
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword">Senha*</label>
      <input type="password"
              name="inputPassword"
              class="form-control"
              id="inputPassword"
              [(ngModel)]="employee.Password"
              #password="ngModel"
              placeholder="Digite sua senha"
              [ngClass]="{
                'is-invalid':password.invalid && (password.dirty || password.touched),
                'is-valid': password.valid && (password.dirty || password.touched)
                }"
              required />

              <div class="invalid-feedback mb-1" role="alert" *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors.required">
                  Senha é obrigatório
                </div>
              </div>
    </div>
    <div class="form-group col-md-3">
      <label for="inputCPF">CPF*</label>
      <input type="text"
              name="inputCPF"
              class="form-control"
              id="inputCPF"
              placeholder="Informe o seu CPF"
              [(ngModel)]="employee.Cpf"
              #cpf="ngModel"
              mask="000.000.000-00"
              [ngClass]="{
                'is-invalid':cpf.invalid && (cpf.dirty || cpf.touched),
                'is-valid': cpf.valid && (cpf.dirty || cpf.touched)
                }"
              required />

              <div class="invalid-feedback mb-1" role="alert" *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)">
                <div *ngIf="cpf.dirty && cpf.touched">
                  Inserir apenas números
                </div>
                <div *ngIf="cpf.errors.required">
                  CPF é obrigatório
                </div>
              </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">Endereço*</label>
      <input type="text"
              name="inputAddress"
              class="form-control"
              id="inputAddress"
              placeholder="Rua, Av., Trav., número, Bairro"
              [(ngModel)]="employee.Adress"
              #adress = "ngModel"
              [ngClass]="{
                'is-invalid':adress.invalid && (adress.dirty || adress.touched),
                'is-valid': adress.valid && (adress.dirty || adress.touched)
                }"
              required />

              <div class="invalid-feedback mb-1" role="alert" *ngIf="adress.invalid && (adress.dirty || adress.touched)">
                <div *ngIf="adress.errors.required">
                  Endereço é obrigatório
                </div>
              </div>
    </div>
    <div class="form-group col-md-3">
      <label for="inputCoren">Coren*</label>
      <input type="text"
              name="inputCoren"
              class="form-control"
              id="inputCoren"
              placeholder="000000-SS"
              mask="000000-SS"
              [(ngModel)]="employee.Coren"
              #coren = "ngModel"
              [ngClass]="{
                'is-invalid':coren.invalid && (coren.dirty || coren.touched),
                'is-valid': coren.valid && (coren.dirty || coren.touched)
                }"
              required />

              <div class="invalid-feedback mb-1" role="alert" *ngIf="coren.invalid && (coren.dirty || coren.touched)">
                <div *ngIf="coren.errors.required">
                  Coren é obrigatório
                </div>
              </div>
    </div>
    <div class="form-group col-md-3">
      <label for="inputZip">Cargo</label>
      <select id="inputOffice" class="form-control" name="office" [(ngModel)]="office">
        <option *ngFor="let office of offices" [value]="office">{{OfficeLabelMapping[office]}}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputZip">CEP</label>
      <input type="text"
              class="form-control"
              name="inputZip"
              id="inputZip"
              placeholder="Informe o seu CEP"
              mask="00.000-000"
              [(ngModel)]="employee.Cep"
              #cep="ngModel"
              [ngClass]="{
                'is-invalid':cep.invalid && (cep.dirty || cep.touched),
                'is-valid': cep.valid && (cep.dirty || cep.touched)
                }"
              required />

              <div class="invalid-feedback mb-1" role="alert" *ngIf="cep.invalid && (cep.dirty || cep.touched)">
                <div *ngIf="cep.dirty && cpf.touched">
                  Inserir apenas números
                </div>
                <div *ngIf="cep.errors.required">
                  CEP é obrigatório
                </div>
              </div>
    </div>
    <div class="form-group col-md-4">
      <label for="inputDistrict">Bairro*</label>
      <input type="text"
              name="inputDistrict"
              class="form-control"
              id="inputDistrict"
              placeholder="Informe o seu Bairro"
              [(ngModel)]="employee.District"
              #district="ngModel"
              [ngClass]="{
                'is-invalid':district.invalid && (district.dirty || district.touched),
                'is-valid': district.valid && (district.dirty || district.touched)
                }"
              required />

              <div class="invalid-feedback mb-1" role="alert" *ngIf="district.invalid && (district.dirty || district.touched)">
                <div *ngIf="district.errors.required">
                  Bairro é obrigatório
                </div>
              </div>
    </div>
    <div class="form-group col-md-4">
      <label for="inputCity">Cidade*</label>
      <input type="text"
              name="inputCity"
              class="form-control"
              id="inputCity"
              placeholder="Informe a sua cidade"
              [(ngModel)]="employee.City"
              #city="ngModel"
              [ngClass]="{
                'is-invalid':city.invalid && (city.dirty || city.touched),
                'is-valid': city.valid && (city.dirty || city.touched)
                }"
              required />

              <div class="invalid-feedback mb-1" role="alert" *ngIf="city.invalid && (city.dirty || city.touched)">
                <div *ngIf="city.errors.required">
                  Cidade é obrigatório
                </div>
              </div>
    </div>
    <div class="form-group col-md-2">
      <label for="inputState">Estado</label>
      <select id="inputState" class="form-control" name="state" [(ngModel)]="state">
        <option *ngFor="let state of states" [value]="state">{{state}}</option>
      </select>
    </div>    
  </div>
  <button type="submit" class="btn btn-danger" (click)="voltar()">Voltar</button>
  <button type="submit" class="btn btn-primary float-right" [disabled]="activateSpinner" (click)="register(state,office)"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="activateSpinner"></span> Cadastrar</button>
</form>
