################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/CarteiraVacinaDigital
/CarteiraVacinaDigital.Model/obj
/CarteiraVacinaDigital.Repository/bin/Debug/netstandard2.0
/CarteiraVacinaDigital.Repository/obj
/CarteiraVacinaDigital.Model/bin/Debug/netstandard2.0
