<div class="container">
  <h1>Calendário</h1>

  <div class="row mb-4">    
    <button type="button" class="btn btn-primary" (click)="telaCadastro()">
      Registrar novo Calendário de Vacina
    </button>
  </div>
  <div class="row">
    <div class="text-center" *ngIf="activateSpinner">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="activateSpinner"></span>
    </div>
    <table class="table table-bordered" *ngIf="calendarios">
      <thead>
        <tr>
          <th scope="col">Informação</th>
          <th scope="col">Vacina</th>
          <th scope="col">Faixa etária</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of calendarios">
          <td>{{c.Information}}</td>
          <td>{{c.Vaccine.VaccineName}}</td>   
          <td>{{c.AgeGroup}}</td>   
        </tr>
      </tbody>
    </table>
  </div>
</div>

