<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <form class="form-signin">
        <p class="h4 mb-3 text-center">Login</p>
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control mb-2" id="exampleInputEmail1" aria-describedby="emailHelp">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
        <button type="submit" class="btn btn-success mt-3 float-right">Entrar</button>
      </form>
    </div>
  </div>
</div>
