<div class="container">
  <h1>Funcionários</h1>

  <div class="row mb-4">
    <input type="text" class="mr-5 form-control col-4" placeholder="Digite um nome" />
    <button type="button" class="btn btn-primary" (click)="telaCadastro()">
      Cadastrar funcionário
    </button>
    </div>
    <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Cpf</th>
          <th scope="col">Cargo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of employees" >
          <th scope="row">{{e.id}}</th>
          <td>{{e.name}}</td>
          <td>{{e.email}}</td>
          <td>{{e.cpf}}</td>
          <td>{{e.city}}</td>
        </tr>
        <tr>
      </tbody>
    </table>
  </div>

</div>
