<h1>Registrar novo Calendário de Vacina</h1>

<div>
  <form class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="inputCalendario">Informação</label>
        <input type="text"
               name="inputCalendario"
               class="form-control"
               id="inputCalendario"
               [(ngModel)]="calender.Information"
               #information="ngModel"
               [ngClass]="{
                 'is-invalid':information.invalid && (information.dirty || information.touched),
                 'is-valid': information.valid && (information.dirty || information.touched)
                 }"
               required />

               <div class="invalid-feedback mb-1" role="alert" *ngIf="information.invalid && (information.dirty || information.touched)">
                 <div *ngIf="information.errors.required">
                   Informação sobre a Vacina é obrigatório
                 </div>
               </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="inputAgeGroup">Faixa Etária</label>
        <input type="text"
               name="inputAgeGroup"
               class="form-control"
               id="inputAgeGroup"
               [(ngModel)]="calender.AgeGroup"
               #ageGroup="ngModel"
               [ngClass]="{
                 'is-invalid':ageGroup.invalid && (ageGroup.dirty || ageGroup.touched),
                 'is-valid': ageGroup.valid && (ageGroup.dirty || ageGroup.touched)
                 }"
               required />

               <div class="invalid-feedback mb-1" role="alert" *ngIf="ageGroup.invalid && (ageGroup.dirty || ageGroup.touched)">
                 <div *ngIf="ageGroup.errors.required">
                   Faixa etária é obrigatório
                 </div>
               </div>
      </div>

      <div class="col-md-4 mb-3">
        <label for="inputVaccine">Vacina</label>
        <select id="inputVaccine" class="form-control" name="vaccine" [(ngModel)]="calender.vaccineID">
          <option *ngFor="let vaccine of vaccines" [value]="vaccine.Id">{{vaccine.VaccineName}}</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-danger" (click)="voltar()">Voltar</button>
    <button class="btn btn-primary float-right" type="submit" (click)="registerCalendario()">Cadastrar Calendário</button>
  </form>
</div>
