<div class="container">
  <h1>Vacinas</h1>

  <div class="row mb-3">
    <button type="button" class="btn btn-primary" (click)="telaCadastro()">
      Cadastrar Vacina
    </button>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="row">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">Fábrica</th>
        <th scope="col">Data de Fabricação</th>
        <th scope="col">Data de Validate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of vaccines">
        <th scope="row">{{v.id}}</th>
        <td>{{v.vaccineName}}</td>
        <td>{{v.factoryName}}</td>
        <td>{{v.manufacturingDate}}</td>
        <td>{{v.validate}}</td>
      </tr>
    </tbody>
  </table>

</div>
