<div class="container">
  <h1>Paciente</h1>

<div class="row mb-3">
    <button type="button" class="btn btn-primary" (click)="telaCadastro()">
      Cadastrar Paciente
    </button>
</div>
<div class="row">
  <div class="text-center" *ngIf="activateSpinner">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="activateSpinner"></span>
  </div>
  <table class="table table-bordered" *ngIf="pacients">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Email</th>
        <th scope="col">Cidade</th>
        <th scope="col">Estado</th>
        <th scope="col">Nome da Mãe</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of pacients">
        <td>{{p.Name}}</td>
        <td>{{p.Cpf}}</td>
        <td>{{p.Email}}</td>      
        <td>{{p.City}}</td>      
        <td>{{StateEnum[p.State]}}</td>      
        <td>{{p.MotherName}}</td>      
      </tr>
    </tbody>
  </table>
</div>

</div>