<div class="container">
  <h1>Paciente</h1>

<div class="row mb-3">
  <input type="text" class="form-control col-4 mr-5" placeholder="Digite um nome" name="product" list="pacientName"/>
    <datalist id="pacientName">
        <option value="Pen">Pen</option>
        <option value="Pencil">Pencil</option>
        <option value="Paper">Paper</option>
    </datalist>
    <button type="button" class="btn btn-primary" (click)="telaCadastro()">
      Cadastrar Paciente
    </button>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of pacients">
      <th scope="row">{{p.id}}</th>
      <td>{{p.name}}</td>
    </tr>
  </tbody>
</table>

</div>