<h1>Vacinar Paciente</h1>

<div class="col-sm-12">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputName">Paciente</label><br />
        <input type="text" list="pacient" name="pacientName" (change)="changePacient($event)" />
        <datalist id="pacient">
          <option *ngFor="let p of pacients" [value]="p.name">{{p.name}}</option>
        </datalist>
      </div>
      <div class="form-group col-md-6">
        <label for="inputName">Vacina</label><br />
        <input type="text" list="vaccine" name="vaccineName" (change)="changeVaccine($event)" />
        <datalist id="vaccine">
          <option *ngFor="let v of vaccines" [value]="v.vaccineName">{{v.vaccineName}}</option>
        </datalist>
      </div>
      <button class="btn btn-success float-right"><i class="fas fa-syringe" (click)="registrarVacina()"></i> Registrar Vacina</button>
    </div>
  </form>
</div>
